<%- include('parts/htmlHead')%>
<%- include('parts/navbar')%>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
      </tr>
    </thead>
    <tbody>
    <% for(let r of rows) { %>
      <tr>
        <th scope="row"><%= r.sid %></th>
        <td><%= r.name %></td>
        <td><%= r.birthday2 %></td>
      </tr>
      <% } %>
      <tr>
    </tbody>
  </table>
  <%- include('parts/htmlFoot')%>